<%- include('templates/head.ejs') %>
</head>
<%- include('templates/header.ejs') %>
    <div style="padding: 15px;padding-left: 20px;">
        <% if(type=='home') { %>
        <h1>Home</h1>
        <% } %>

        <% if(type=='about') { %>
        <h3>About</h3>
        <% } %>

        <% if(type=='page1') { %>
        <h4>page1</h4>
        <% } %>    
    </div>
</body>
</html>